@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-img-header {
  background-image: url('./assets/header.png');
}
.youtube-video-iframe {
  border-radius: 20px; 
}

.tooltip.tooltip-open:before {
  position: absolute;
  left: 17%;
  top: -30px;
}

.tooltip.tooltip-open:after {
  position: relative;
  left: 17%;
  top: -28px;
}

.list-item::before {
  content: '●';
  color: #4A9F2E;
  margin-right: 11px;
}

.swiper {
  width: 425px;
  height: fit-content;
  /* margin-right: -35px !important; */
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #4A9F2E !important;
  opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet{
  background-color: #FAECE6;
  opacity: 1;
}

.table-zebra tbody tr:nth-child(even) {
  background-color: #F2F2F2 !important; 
  border-color: #F2F2F2 !important;
}

.table-zebra tbody tr:nth-child(odd) {
  border-color: #F2F2F2 !important;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.attach:before {
  position: absolute;
  left: 20px !important;
  top: -40px !important;
  bottom: 20px !important;
}

.cup.steps-vertical .step {
  min-height: 10rem !important;
  gap: 3.5rem !important;
}

.ref.steps-vertical .step {
  min-height: 8rem !important;
}

.ref.steps-vertical .step {
  gap: 2.25rem !important;
}

.cup.steps-vertical .step:before {
  width: 2px !important;
  background: #464646 !important;
}

.cup.steps-vertical .step:before {
  --tw-translate-y: -75% !important;
}

.cup.steps .step:after {
  width: 73px !important;
  height: 73px !important;
  place-self: start center !important;
  background-image: url('./assets/new/cup-disabled.svg');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 65%;
  background-size: auto;
  border: 2px solid rgba(34,34,34, 0.2);
  color: grey!important;
  background-color: #464646 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  background-blend-mode: difference;
}

.ref.steps .ref:after {
  width: 63px !important;
  height: 63px !important;
  background-color: #464646 !important;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #464646;
}

.cup.step.step-primary:after{
  opacity: 1;
  border-color: #4A9F2E !important;
  color: #4A9F2E !important;
  background-image: url('./assets/new/up-lvl.svg');
  background-blend-mode: unset;
}

.cup.steps .step {
  place-items: baseline !important;
}

.refBg {
  background-image: url('./assets/ref-bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.disabled {
  opacity: 0.4;
}

.desc-item:before {
  content: '●';
  margin-right: 4px;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('./assets/select-arrow.svg') no-repeat right center !important; 
}

.sticky.navbar {
  padding-bottom: 0px;
}

.hidden-on-sticky {
  display: none !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 17px; 
  background: #222 !important;
}

::-webkit-scrollbar:vertical {
  width: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #4A9F2E !important; 
  opacity: 0.79;
  border-radius: 17px; 
}

.table-zebra tbody tr:nth-child(odd) {
  border-color: #292929!important;
}

.bg-input {
  --tw-bg-opacity: 1;
  background-color: rgb(64 64 64/var(--tw-bg-opacity));
}

.odd\:bg-odd:nth-child(odd) {
  --tw-bg-opacity: 1;
  background-color: rgb(41 41 41/var(--tw-bg-opacity));
}

.bg-mainCard {
  background-color: #323232;
}

@media (max-width: 1280px) {
  .youtube-video-iframe {
    width: 375px;
  }

  .swiper {
    margin-right: auto !important;
  }

  ::-webkit-scrollbar {
    width: 92px;
    height: 11px;
    flex-shrink: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #0F0F0F; 
    opacity: 0.79;
    border-radius: 17px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 17px; 
  }

  ::-webkit-scrollbar:vertical {
    width: 8px !important;
  }

  .fixedCol {
    position: sticky;
    left: 0;
    background: #FFF;
    box-shadow: 5px 4px 17px 0px rgba(0, 0, 0, 0.19);
    z-index: 1;   
  }
}

br {
  margin: 20px 0;
}

@media screen and (max-width: 500px) {
  .cup.steps-vertical .step {
    gap: 2.5rem !important;
  }

  .swiper {
    width: 350px;
  }
}

/* Loader */

.boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    .box {
        width: var(--size);
        height: var(--size);
        top: 0;
        left: 0;
        position: absolute;
        transform-style: preserve-3d;
        &:nth-child(1) {
            transform: translate(100%, 0);
            animation: box1 var(--duration) linear infinite;
        }
        &:nth-child(2) {
            transform: translate(0, 100%);
            animation: box2 var(--duration) linear infinite;
        }
        &:nth-child(3) {
            transform: translate(100%, 100%);
            animation: box3 var(--duration) linear infinite;
        }
        &:nth-child(4) {
            transform: translate(200%, 0);
            animation: box4 var(--duration) linear infinite;
        }
        & > div {
            --background: #4e9d35;
            --top: auto;
            --right: auto;
            --bottom: auto;
            --left: auto;
            --translateZ: calc(var(--size) / 2);
            --rotateY: 0deg;
            --rotateX: 0deg;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #4e9d35;
            top: var(--top);
            right: var(--right);
            bottom: var(--bottom);
            left: var(--left);
            transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
            &:nth-child(1) {
                --top: 0;
                --left: 0;
            }
            &:nth-child(2) {
                --right: 0;
                --rotateY: 90deg;
            }
            &:nth-child(3) {
                --rotateX: -90deg;
            }
            &:nth-child(4) {
                background: rgba(0, 0, 0, 0.1);
                --top: 0;
                --left: 0;
                --translateZ: calc(var(--size) * 3 * -1);
            }
        }
    }
}

@keyframes box1 {
    0%,
    50% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box2 {
    0%{
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box3 {
    0%,
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box4 {
    0%{
        transform: translate(200%, 0);
    }
    50% {
        transform: translate(200%, 100%);
    }
    100% {
        transform: translate(100%, 100%);
    }
}
